// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  margin-top: 80px;
}
.navbar{
  background-color: #E34132
}
a {
  color: #E34132
}
.complete{
  color: #4BB543
}
.pending{
  color: #428bca
}
